/* vars */
:root {
  --sl-color-tomato-50: rgb(255 248 247);
  --sl-color-tomato-100: rgb(255 231 227);
  --sl-color-tomato-200: rgb(255 213 205);
  --sl-color-tomato-300: rgb(255 191 180);
  --sl-color-tomato-400: rgb(255 162 145);
  --sl-color-tomato-500: rgb(255 118 93);
  --sl-color-tomato-600: rgb(224 87 62);
  --sl-color-tomato-700: rgb(184 71 51);
  --sl-color-tomato-800: rgb(152 59 42);
  --sl-color-tomato-900: rgb(109 42 30);
  --sl-color-tomato-950: rgb(67 26 19);
}

/* vars */

body {
  margin: 0
}

.container {
  height: 100vh;
  width: 100%;
}

.leading-column {
  border: solid 1px;
  border-color: palevioletred;
}

.trailing-column {
  border: solid 1px;
  border-color: paleturquoise;
}

#map {
  height: 100vh;
}

.open-drawer-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.faq-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.faq-button-icon {
  font-size: var(--sl-font-size-large);
}

.line-search-input {
  padding-top: var(--sl-spacing-medium);
}

.line-list {
  padding: var(--sl-spacing-medium) 0px
}

.line-container .line-prefix {
  color: tomato;
  font-size: large;
}

.line-container .line-prefix>span {
  font-weight: var(--sl-font-weight-semibold);
  font-family: var(--sl-font-mono);
  padding-left: var(--sl-spacing-2x-small);
}

.line-container .line-suffix {
  font-size: smaller;
}

.drawer-footer-button {
  display: block;
}

sl-carousel.line-navigation {
  --slide-gap: 0px;
  --aspect-ratio: 12/150;
}

sl-carousel.line-navigation::part(scroll-container) {
  place-items: flex-start;
}

.line-navigation>sl-carousel-item {
  display: inline-block;
}

.breadcrumb-line-prefix {
  color: tomato;
  font-weight: var(--sl-font-weight-semibold);
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-medium);
}

.breadcrumb-icon-prefix {
  font-size: var(--sl-font-size-large);
}

.route-header {
  display: flex;
  flex-direction: column;
  color: var(--sl-color-gray-700);
  align-items: start;
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-bold);
  margin-top: var(--sl-spacing-medium);
  padding: var(--sl-spacing-x-small);
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom-color: var(--sl-color-gray-300);
  border-top-color: var(--sl-color-gray-300);
  border-width: var(--sl-input-border-width);
}

.route-name-container {
  align-items: center;
  display: flex;
  gap: var(--sl-spacing-3x-large);
}

.route-name-container>sl-tooltip>sl-icon {
  color: var(--sl-color-primary-600)
}

.route-name-container>sl-tooltip>sl-icon:hover {
  color: var(--sl-color-primary-500)
}

.stop-list {
  font-size: var(--sl-font-size-medium);
  list-style: none;
  padding-left: var(--sl-spacing-small);
}

.stop-list>li {
  font-size: var(--sl-font-size-medium);
}

.stop-list>li>sl-button::part(label)::before {
  display: inline-block;
  content: '';
  background-color: var(--sl-color-neutral-600);
  border: solid 4px var(--sl-color-neutral-600);
  border-radius: 50%;
  margin-right: 7px;
  width: 10px;
  height: 10px;
}

.stop-list>li>sl-button.outline-button-selected::part(label)::before {
  display: inline-block;
  content: '';
  background-color: var(--sl-color-neutral-0);
  border: solid 3px var(--sl-color-neutral-600);
  border-radius: 50%;
  margin-right: 7px;
  width: 10px;
  height: 10px;
}

.stop-list>li>sl-button::part(base)::before {
  content: '';
  border-left: solid 2px transparent;
  box-shadow: 21px 0px 0px 0px var(--sl-color-neutral-600);
  height: 105%;
}

.stop-list>li:first-of-type>sl-button::part(base)::before {
  box-shadow: 21px 20px 0px 0px var(--sl-color-neutral-600);
}

.stop-list>li:last-of-type>sl-button::part(base)::before {
  box-shadow: 21px -16px 0px 0px var(--sl-color-neutral-600);
}

.stop-button {
  width: 100%;
}

.stop-marker {
  border-style: solid;
  border-radius: var(--sl-border-radius-circle);
  padding: var(--sl-spacing-3x-small);
  width: var(--sl-spacing-medium);
  height: var(--sl-spacing-medium);
  font-size: var(--sl-font-size-small);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop-marker-selected {
  color: white;
  font-weight: bold;
  border-color: var(--sl-color-sky-700);
}

.schedule-list-inner {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
}

.schedule-list-item {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.schedule-list-item-prefix {
  content: var(--tomate-schedule-list-item-content);
  font-weight: var(--sl-font-weight-bold);
  font-family: var(--sl-font-mono);
  color: tomato;
}

.schedule-list-item-name {
  font-weight: var(--sl-font-weight-light);
}

.schedule-list-item-suffix {
  font-weight: var(--sl-font-weight-bold);
}

/* Shoelace customizations */

sl-option.day-selector::part(panel) {
  background: var(--sl-color-neutral-0);
}

sl-select.day-selector::part(combobox) {
  color: var(--sl-color-primary-600);
  font-weight: var(--sl-font-weight-bold);
}

sl-select.day-selector::part(prefix) {
  color: var(--sl-color-primary-600);
}

sl-select.day-selector::part(display-input) {
  color: var(--sl-color-primary-600);
}

.drawer-scrolling::part(overlay) {
  background-color: transparent;
}

/* The four below fixes this issue: https://github.com/shoelace-style/shoelace/issues/402 */
.drawer-scrolling::part(title) {
  font-family: var(--sl-font-sans);
}

.drawer-scrolling::part(panel) {
  font-family: var(--sl-font-sans);
}

.dialog-faq::part(header) {
  font-family: var(--sl-font-sans);
}

.dialog-faq::part(panel) {
  font-family: var(--sl-font-sans);
}

/* */

sl-breadcrumb-item.breadcrumb-label::part(label) {
  font-size: var(--sl-font-size-medium);
}

sl-drawer.drawer-scrolling::part(body) {
  padding-top: 0;
}

sl-drawer.drawer-scrolling::part(label) {
  padding-bottom: 0;
}

sl-drawer.drawer-scrolling::part(header-actions) {
  display: none;
}

sl-button.line-button::part(base) {
  border-style: none;
  justify-content: start;
  align-items: center;
}

sl-button.line-button::part(label) {
  white-space: normal;
  line-height: var(--sl-line-height-denser)
}

sl-button.line-button::part(suffix) {
  flex-grow: 1;
  justify-content: end;
}

sl-button.change-direction-button::part(label) {
  padding-left: 0;
}

sl-button.stop-button::part(label) {
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

sl-button.stop-button::part(base) {
  border-style: none;
  justify-content: start;
  align-items: center;
  margin-bottom: var(--sl-spacing-3x-small);
}

sl-button.stop-button::part(suffix) {
  flex-grow: 1;
  justify-content: end;
}

sl-button.outline-button-selected::part(base) {
  border-color: var(--sl-color-primary-600);
  background-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
}

sl-button.outline-button-selected::part(prefix) {
  color: var(--sl-color-neutral-0);
}

sl-button.outline-button-selected::part(label) {
  color: var(--sl-color-neutral-0);
}

sl-button.outline-button-selected::part(suffix) {
  color: var(--sl-color-neutral-0);
}

sl-button.tomate::part(base) {
  background: var(--sl-color-neutral-0);
  border: solid 1px tomato;
}

sl-button.tomate::part(base):hover {
  background: rgba(255, 99, 71, 0.1);
}

sl-button.tomate::part(base):active {
  background: rgba(255, 99, 71, 0.2);
}

sl-button.tomate::part(base):focus-visible {
  box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.33);
}

sl-button.tomate::part(label) {
  color: tomato;
}

/* Shoelace customizations */